* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}

body {
    display: flex;
    position: relative;
}

:root {
    --dust-grey: #DAD7CD;
}

#sidebar {
    flex: 0 0 400px;
    gap: 40px;
    background-color: rgba(218, 215, 205, 0.1);
    height: 100vh;
    padding: 40px 30px;

    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

#header #profile-picture {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

#header-names {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#header-names div:nth-child(1) { font-weight: bold; }
#header-names div:nth-child(2) { font-weight: 200; }

#header svg {
    color: rgba(0, 0, 0, 0.3);
}

#views {
    display: flex;
    flex-direction: column;
}

.view {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 10px;
    border-radius: 5px;

    --hover-color: rgba(218, 215, 205, 0.5);
}

.view:hover:not(#add-view):not([selected=true]) {
    background-color: var(--hover-color);
}

.view[selected="true"]:not(#add-view) {
    background-color: rgba(163, 177, 138, 0.4);
    color: #344E41;
}

#add-view {
    color: rgba(218, 215, 205, 1);
}

#add-view:hover {
    color: #C6C3B9;
    background-color: var(--hover-color);
}

#projects-header {
    font-weight: 600;
    font-size: 35px;
}

#projects {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 30px;
}

#projects > div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}


#content-section {
    flex: 1;
    height: 100vh;
    padding: 100px 10px;

    display: flex;
    justify-content: center;
}

#inner-content {
    display: flex;
    flex-direction: column;
    gap: 25px;

    width: 600px;
}


#tasks {
    display: flex;
    flex-direction: column;
}

.task {
    display: flex;
    gap: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 10px;
}

.task .circle {
    border: 1px solid rgba(0, 0, 0, 0.4);
    height: 25px;
    width: 25px;
}

.task-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
}

.task-date {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 300;
}

.task-buttons {
    margin-left: auto;
}

#add-task {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    color: #DAD7CD;
}

#form-layer {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.1);
}

#form-layer form {
    height: 475px;
    width: 650px;

    border: 5px solid var(--dust-grey);
    border-radius: 20px;
    background-color: white;
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

#form-inputs {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

input, select {
    height: 60px;
    border: 3px solid var(--dust-grey);
    border-radius: 10px;
    padding: 10px 20px;
    color: var(--dust-grey);
    font-size: 20px;
}

input::placeholder {
    color: var(--dust-grey);
}

button {
    align-self: center;
    padding: 20px 40px;
    width: 200px;
    font-size: 20px;
    border-radius: 6px;
    background-color: rgba(218, 215, 205, 0.5);
    border: 3px solid var(--dust-grey);
}